<h1 style="text-align: center; margin-top:50px;">Detalle De La Actividad</h1>
<div style="margin-left: 370px; ">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default" style="text-align: center;">
                    <div class="panel panel-heading">Título:</div>
                    <div class="panel-body"> {{activity.title}} </div>
                    <div class="panel panel-heading">Descripción:</div>
                    <div class="panel-body">{{activity.description}}
                    </div>
                    <div class="panel panel-heading">Fecha:</div>
                    <div class="panel-body"> {{activity.date}} </div>
                    <div class="panel panel-heading">Mensaje:</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea type="text" class="form-control" [(ngModel)]="activity.message">
                                {{activity.message}}
                            </textarea>
                        </div>
                        <button class="btn btn-primary" (click)="actualizar()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>